<div class="home-packages">

    <h1 class="heading-title"> Our packages for mens </h1>
     
 
    <div class="box-container">
 
       <div class="box">
          <div class="image">
             <img src="https://assets.ajio.com/medias/sys_master/root/20220513/AhGv/627e22c9f997dd03e2b9a400/the_bear_house_maroon_checked_slim_fit_shirt_with_patch_pocket.jpg">
          </div>
          <div class="content">
             
             <p>Try it!  Trust me you are looking handsome</p>
            
          </div>
       </div>
       <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.2cexaSk7Zy7jiD2a3aYJ6gHaJ4?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.VOh2P83-Ke6rX6goUr14QwHaJg?w=145&h=186&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.nM3lM8WCRd-PQAtjcJK9ZgHaHa?w=204&h=204&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.ikbO58YydqOWfVCQWG3O0QHaHa?w=202&h=202&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.5MAyMRWyjc_N1tAGQsqKJAHaJt?w=149&h=195&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.OHeqsv54qV_rTrEzuOHJTAHaHS?w=222&h=218&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://cdnc.lystit.com/photos/2013/07/24/jcrew-indigo-slim-indigo-chambray-shirt-product-1-12099666-311796964.jpeg">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th?q=Chambray+Long+Sleeve+Shirt&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP._FmxT0n2FMUZ1xl_IpLsnQHaHa?w=191&h=191&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="https://th.bing.com/th/id/OIP.nQ93JD4ExkgL6SvyGKeNVQHaHa?w=204&h=204&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>
         <div class="content">
            
            <p>wear this dress  U R looking handsome</p>
           
         </div>
      </div>
      </div>
</div>