
<div class="home-packages">

    <h1 class="heading-title"> Our packages  for women</h1>
     
 
    <div class="box-container">
 
       <div class="box">
          <div class="image">
             <img src="https://th.bing.com/th/id/OPA.WzoA9Z4EDbvAww474C474?w=187&h=243&o=5&dpr=1.5&pid=1.7">
          </div>
          <div class="content">
             
             <p>wear this dress  U R looking gorgeous</p>
            
          </div>
       </div>
       <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.WoOFQaI2Ka3t0x452V4QrQHaJ4?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
           </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.toj5XPL--orglK7UcydY-wHaJ4?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.uO7JgZ6381MEakpLy8vjuwHaJ3?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div> <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.9wnnEXPg1CZfG9nqxKdX5gHaLH?pid=ImgDet&w=193&h=289&c=7&dpr=1.5">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.qtVP_TaEUYCePVe-kOyXuAHaJ4?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://i5.walmartimages.com/asr/f9ebe414-176f-40fd-b18a-012648d73a46.e7fa2d617bbbdc46e6486731e9acc302.jpeg">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.TJkxuwnN31B7tZgt8edBugHaJ4?w=195&h=260&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.qXOLUw63bg9iPo2aNyIZdwHaLE?w=195&h=292&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OPA.AVmiBCA40PJ23g474C474?w=187&h=243&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     <div class="box">
        <div class="image">
           <img src="https://th.bing.com/th/id/OIP.Par_lXwS3kRKu0SaWdJDYwHaJk?w=195&h=253&c=7&r=0&o=5&dpr=1.5&pid=1.7">
        </div>
        <div class="content">
           
           <p>wear this dress  U R looking gorgeous</p>
          
        </div>
     </div>
     
    
 
    </div>
 
  </div>
 
 
